.booking__text {
  padding-left: 20px;
  padding-right: 20px;

  font-family: $font;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #333;
  text-transform: uppercase;

  &--title {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;

    margin-top: 28px;
  }

  &--last {
    margin-bottom: 35px;
  }
}

.booking__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
  background-color: $blue;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 49px;

  font-family: $font;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;


  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
