.form__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form__intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
}

.form__text {
  width: 280px;
  font-family: $font;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;

  &--title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    color: #000000;
    margin-bottom: 15px;
  }

  &--last {
    margin-bottom: 19px;
  }
}

.form__set {
  border: none;
  padding-top: 17px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &--last {
    border: none;
  }
}

.form__legend {
  font-family: $font;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
}

.form__input {
  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    border: solid 4px #e5e5e5;
    background-color: #ffffff;
    outline: none;
  }
}

@media (min-width: 768px) {
  .form__header {
    border-bottom: none;
  }

  .form__text {
    width: 435px;

    &--title {
      font-size: 30px;
      font-weight: bold;
      line-height: 0.87;
      color: #000000;

      margin-bottom: 17px;
    }

    &--last {
      margin-bottom: 74px;
    }
  }

  .form__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
  }

  .form__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 14px;
    padding-right: 14px;
  }

  .form__set {
    flex-basis: 100%;
    padding-top: 0;
    border-bottom: none;

    &--halfwidth {
      flex-basis: 50%;
    }

    &--fullname {
      order: 2;
    }

    &--poll {
      order: 1;
    }

    &--contact-form {
      order: 3;
      padding-top: 68px;
    }

    &--sights {
      order: 4;
      padding-top: 25px;
    }

    &--review {
      order: 5;
      padding-top: 45px;
    }
  }

  .form__legend {
    font-size: 21px;
    line-height: 1.24;

    &--left {
      text-align: left;
    }
  }
}

@media (min-width: 1200px) {
  .form__form {
    padding-left: 63px;
    padding-right: 63px;
  }

  .form__intro {
    padding-top: 82px;
  }

  .form__text {
    &--last {
      margin-bottom: 60px;
    }
  }

  .form__set {
    &--contact-form {
      padding-top: 66px;
    }

    &--sights {
      padding-top: 52px;
    }
  }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form__set {
    &--halfwidth {
      flex-basis: 45%;
    }
  }
}
