.gallery__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.gallery__intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 18px;

  &--video {
    padding-top: 15px;
  }
}

.gallery__list {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__text {
  width: 273px;
  font-family: $font;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #333;
  text-transform: uppercase;

  &--title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    color: #000000;
  }

  &--last {
    margin-bottom: 27px;
  }

  &--video {
    margin-bottom: 14px;
  }
}

.gallery__box {
  margin: 0;
  padding-top: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gallery__photo {
  width: 280px;
  height: 280px;
  display: flex;

  &--sunset {
    background-image: url("../img/photo-sunset-mobile@1x.jpg");
    background-size: cover;
  }

  &--cactus {
    background-image: url("../img/photo-cactus-mobile@1x.jpg");
    background-size: cover;
  }

  &--roads {
    background-image: url("../img/photo-roads-mobile@1x.jpg");
    background-size: cover;
  }

  &--bridge {
    background-image: url("../img/photo-bridge-mobile@1x.jpg");
    background-size: cover;
  }
}

.gallery__info {
  font-family: $font;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  margin-bottom: 0;

  &--author {
    font-weight: normal;
    color: #333;
    text-transform: capitalize;
    margin-top: 0;
  }
}

.gallery__likes {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;

  font-family: $font;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.gallery__like {
  margin-right: 13px;
  opacity: 0.3;
  align-self: flex-start;
}

.gallery__count {
  padding-top: 5px;
}

.gallery__videobox {
  padding-bottom: 42px;
}

.gallery__video {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 23px;
}

.gallery__videowrap {
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: cover;
  min-width: 321px;
  min-height: 201px;
}

.gallery__timeline {
  min-width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  margin-top: -45px;
  padding-top: 2px;
  display: flex;

  &--v2 {
    display: none;
  }
}

.gallery__line {
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
  position: relative;

  &::after {
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    position: absolute;
    top: -3px;
    left: 35px;
    z-index: 2;
  }
}

.gallery__control {
  display: flex;
  align-items: center;

  width: 280px;
  min-height: 66px;
  padding-left: 25px;
  padding-right: 23px;
  background-color: $lightgray;
}

.gallery__replay {
  margin-right: 133px;
}

.gallery__sub {
  margin-right: 31px;
}

.gallery__btn {
  background-color: transparent;
  border-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .gallery__header {
    border-bottom: none;
  }

  .gallery__text {
    width: 428px;

    &--title {
      font-size: 30px;
      font-weight: bold;
      line-height: 0.87;
      color: #000000;

      margin-bottom: 15px;
    }

    &--last {
      margin-bottom: 72px;
    }

    &--video {
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }

  .gallery__intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 45px;

    &--video {
      padding-top: 15px;
    }
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    flex-basis: 50%;
    display: flex;
    &--fullwidth {
      flex-basis: 100%;
    }
  }

  .gallery__box {
    padding-top: 0;
    border-bottom: none;
    &--fullwidth {
      margin-left: auto;
      margin-right: auto;
    }

    &--leftcol {
      margin-left: auto;
    }

    &--rightcol {
      margin-right: auto;
    }
  }

  .gallery__photo {
    width: 324px;
    height: 267px;
    display: flex;

    &--sunset {
      width: 648px;
      height: 400px;
      background-image: url("../img/photo-sunset-tablet@1x.jpg");
      background-size: cover;
    }

    &--cactus {
      background-image: url("../img/photo-cactus-tablet@1x.jpg");
      background-size: cover;
    }

    &--roads {
      background-image: url("../img/photo-roads-tablet@1x.jpg");
      background-size: cover;
    }

    &--bridge {
      background-image: url("../img/photo-bridge-tablet@1x.jpg");
      background-size: cover;
    }
  }

  .gallery__description {
    padding: 1px;
    padding-left: 20px;
    position: relative;
    &--lightgray {
      background-color: $lightgray;
    }
    &--darkgray {
      background-color: $darkgray;
    }
  }

  .gallery__likes {
    position: absolute;
    left: 239px;
    top: 25px;

    &--fullwidth {
      left: 564px;
    }
  }

  .gallery__info {
    margin-top: 17px;
    &--author {
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }

  .gallery__like {
    margin-right: 10px;
  }

  .gallery__count {
    padding: 0;
  }

  .gallery__video {
    margin-top: 58px;
  }

  .gallery__videowrap {
    background-image: url("../img/video-tablet@1x.jpg");
    width: 648px;
    height: 499px;
  }

  .gallery__timeline {
    height: 45px;
    background-color: transparent;

    margin-top: -4px;
    margin-right: 42px;
    display: flex;

    &--v1 {
      display: none;
    }

    &--v2 {
      display: flex;
    }
  }

  .gallery__line {
    width: 389px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    position: relative;

    &::after {
      content: "";
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 1;
      position: absolute;
      top: -3px;
      left: 113px;
      z-index: 2;
    }
  }

  .gallery__control {
    width: 648px;
    min-height: 93px;
    margin-top: -92px;
    padding-top: 3px;
    padding-left: 35px;
    padding-right: 41px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .gallery__replay {
    margin-right: 42px;
  }

  .gallery__videobox {
    padding-bottom: 45px;
  }
}
