.logobox {
  padding: 0 20px;
  min-height: 56px;
  background-color: #ffffff;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo__logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -51px;
}

.logo__burger {
  background-color: transparent;
  border-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .logobox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}
