.promo__list {
  padding: 0;
  padding-top: 25px;
  list-style-type: none;
}

.promo__item {
  padding-left: 50px;
  padding-top: 10px;
  position: relative;

  &--house {
    &::before {
      content: "";
      width: 37px;
      height: 36px;
      background-image: url("../img/icon-house.svg");
      background-size: contain;
      position: absolute;
      top: 0;
      left: 2px;
    }
  }

  &--gift {
    &::before {
      content: "";
      width: 32px;
      height: 38px;
      background-image: url("../img/icon-gift.svg");
      background-size: contain;
      position: absolute;
      top: 0;
      left: 5px;
    }
  }

  &--food {
    &::before {
      content: "";
      width: 40px;
      height: 35px;
      background-image: url("../img/icon-burger.svg");
      background-size: contain;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}

.promo__text {
  font-family: $font;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #333;
  text-transform: uppercase;

  margin-bottom: 15px;
  margin-top: 0;

  &--title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    color: #000000;

    margin-bottom: 18px;
  }

  &--last {
    margin-bottom: 35px;
  }
}
