.review__label {
  display: flex;
  justify-content: center;
}

.review__textarea {
  width: 279px;
  height: 160px;
  background-color: $lightgray;
  resize: none;
  border: solid 4px transparent;
  padding-left: 18px;
  padding-top: 12px;
  margin-top: 19px;
  margin-bottom: 48px;

  font-family: $font;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.review__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 58px;
  background-color: $blue;
  border-style: none;
  margin-bottom: 39px;

  font-family: $font;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;


  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: 768px) {
  .review__textarea {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 100%;
  }

  .review__label {
    position: relative;

    &::before {
      content: "";
      width: 125px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      display: block;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::after {
      content: "";
      width: 125px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      display: block;
      z-index: 2;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }

  .review__btnwrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  .review__btn {
    width: 324px;
    margin-bottom: 0;
  }

  .review__warning {
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
    text-transform: uppercase;

    align-self: center;
  }
}

@media (min-width: 1200px) {
  .review__label {

    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }

  .review__btn {
    width: 480px;
  }

  .review__btnwrap {
    margin-bottom: 70px;
  }
}
