.sights__label {
  min-height: 56px;
  margin-top: 25px;
  display: flex;
  position: relative;

  font-family: $font;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  &--first {
    margin-top: 20px;
  }

  &--last {
    margin-bottom: 22px;
  }
}

.sights__fakeinput {
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: #f2f2f2;
  position: relative;

  margin-right: 23px;

  &::before {
    content: "";
    width: 24px;
    height: 16px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 19px;
    left: 17px;
    z-index: 2;
    display: none;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;

    &::before {
      opacity: 0.3;
    }
  }
}

.sights__text {
  margin-top: 13px;
}

.sights__input:checked + .sights__fakeinput::before {
  display: block;
}

@media (min-width: 768px) {
  .sights__legend {
    padding:  0 120px;
    flex-basis: 100%;
    position: relative;

    &::before {
      content: "";
      width: 125px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      display: block;
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::after {
      content: "";
      width: 125px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      display: block;
      z-index: 2;
      position: absolute;
      top: 50%;
      right: 0;
    }
  }

  .sights__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sights__label {
    flex-basis: 50%;
    margin-top: 35px;

    &--first {
      margin-top: 42px;
    }

    &--leftcol {
      padding-left: 95px;
    }

    &--rightcol {
      padding-left: 30px;
    }

    &--firstcol {
      margin-top: 42px;
    }
  }

  .sights__input:checked + .sights__label--leftcol::before {
    left: 112px;
  }

  .sights__input:checked + .sights__label--rightcol::before {
    left: 47px;
  }
}

@media (min-width: 1200px) {
  .sights__legend {
    &::before {
      width: 280px;
    }
    &::after {
      width: 280px;
    }
  }

  .sights__legend {
    padding: 0 280px;
  }

  .sights__flexbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .sights__label {
    flex-basis: auto;
    margin-top: 42px;
    &--rightcol {
      padding-left: 0;
    }
    &--leftcol {
      padding-left: 0;
    }
  }

  .sights__input:checked + .sights__label--leftcol::before {
    left: 17px;
  }

  .sights__input:checked + .sights__label--rightcol::before {
    left: 17px;
  }
}
