@import "font.scss";
@import "normalize.scss";
@import "var.scss";

@import "blocks/main-nav.scss";
@import "blocks/page-header.scss";
@import "blocks/logobox.scss";
@import "blocks/main-screen.scss";
@import "blocks/advantages.scss";
@import "blocks/promo.scss";
@import "blocks/booking.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
@import "blocks/gallery.scss";
@import "blocks/form.scss";
@import "blocks/fullname.scss";
@import "blocks/contact-form.scss";
@import "blocks/poll.scss";
@import "blocks/sights.scss";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  transition: 0.2s;
}

body {
  min-width: 320px;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

.active-element {
  cursor: pointer;
}
